#map-container {
  display: none;
}

#map {
  width: 50%;
  height: 700px;
  z-index: 2000;
}

#map-images {
  padding-left: 50px;
  height: 700px;
  overflow: auto;
}

#exif {
  background-color: white;
  height: 600px;
  margin-left: 10px;
  padding: 25px;
  border-radius: 0px 7px 7px 0px;
}

#left-panel {
  width: 800px;
  height: 600px;
  border-radius: 7px 0px 0px 7px;
  padding-left: 0px;
  padding-right: 0px;
}

#right-panel {
  background-color: white;
  height: 600px;
  margin-left: -10px;
  padding: 25px;
  border-radius: 0px 7px 7px 0px;
  overflow: auto;
}

#filter {
  position: fixed;
  top: 8px;
  right: 300px;
  z-index: 20000;
}

.image-lg {
  width: 800px;
  height: 600px;
  border-radius: 7px 0px 0px 7px;
}

.pac-container {
  z-index: 2000;
}

.div-images {
  display: inline-block;
  overflow: hidden;
}

.popular > div:hover img {
  opacity: 0.5;
}

.popular > div > img {
  width: 1200px;
  height: 400px;
  padding: 10px;
  cursor: hand;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.div-images:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.images {
  width: 320px;
  height: 300px;
  padding: 10px;
  cursor: hand;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.tags {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
}

.tags:hover {
  cursor: hand;
  border: 1px solid white;
  color: white;
  background-color: black;
}

.profile {
  width: 64px;
  height: 64px;
}

.page-down {
  padding: 5px 16px;
  border: 2px solid white;
  border-radius: 100%!important;
  font-size: 40px;
  color: white;
}

.page-div {
  position: absolute;
  top: 90%;
  left: -8px;
}

.map-images {
  width: 150px;
  height: 150px;
  padding: 5px;
  cursor: hand;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hero-header {
  background-image: url('./img/nikon.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 750px;
  padding: 7em;
  color: #fff;
  margin-bottom: 50px;
}

.modal-lg {
  width: 1200px;
}
