#search {
  margin-left: 50px;
}

#map-container {
  display: none;
}

#map {
  width: 50%;
  height: 700px;
  z-index: 2000;
}

#map-images {
  padding-left: 50px;
  height: 700px;
  overflow: auto;
}

#img-container {
  background-color: black;
  padding-top: 50px;
}

#exif-specs {
  background-color: white;
  height: 600px;
  margin-left: -10px;
  padding: 25px;
  border-radius: 0px 7px 7px 0px;
}

#exif-image {
  width: 800px;
  height: 600px;
  border-radius: 7px 0px 0px 7px;
  padding-left: 0px;
  padding-right: 0px;
}

.image-lg {
  width: 800px;
  height: 600px;
  border-radius: 7px 0px 0px 7px;
}

.pac-container {
  z-index: 2000;
}

.div-images {
  display: inline-block;
  overflow: hidden;
}

.div-images:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.images {
  width: 320px;
  height: 300px;
  padding: 10px;
  cursor: hand;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.map-images {
  width: 150px;
  height: 150px;
  padding: 5px;
  cursor: hand;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hero-header {
  background-image: url('./img/nikon.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 800px;
  padding: 7em;
  color: #fff
}

.modal-lg {
  width: 1200px;
}

.modal-backdrop {
  opacity: 0.8 !important
}

.table td {
    border: 0px !important;
}
